<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learn AI</title>
</head>
<body>
    <style>
        @import url('https://fonts.cdnfonts.com/css/avenir');
     </style>

     <div class="block1" style="text-align: center; font-family: 'Avenir'; margin-top: 5%;" >
        <h1>Learn AI</h1>
        <button id="refresh_files" >Clique aqui</button>
     </div>
    
    <script>
        const endpoint = "http://localhost:8000/v1/refresh_ai";

        var button_element = document.getElementById('refresh_files')
        button_element.addEventListener('click', b => {
            var xhr = new XMLHttpRequest();
            xhr.open('POST', endpoint);
            xhr.setRequestHeader("Content-Type", "application/json")
            xhr.send(JSON.stringify({'start': true}))

            xhr.onreadystatechange = function() {
                data_response = JSON.parse(xhr.response)

                if (data_response.status == 200){
                    console.log('Refresh atualizado com sucesso!!')
                }

                else {
                    console.log(data_response)
                }
            }
        })

        

        
    </script>
</body>
</html>